mixin emptyLink()
  li(style='display:none;')

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Why Empathy Matters

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .hello {
      background-image: url('images/hello-tharr.gif')
    }
    
    .funemployed {
      background-image: url('images/funemployed.gif')
    }
    
    .krang {
      background-image: url('images/krang.gif')
    }
    
    .marco {
      background-image: url('images/Marco-Iacoboni.jpg')
    }
    
    .giacomo {
      background-image: url('images/giacomo.jpg')
    }
    
    .crybaby {
      background-image: url('images/crybaby.jpg')
    }

  body

    article

      section
        h1 Why Empathy Matters
        h3 With your host Myles Borins
        a(href='https://twitter.com/thealphanerd') @thealphanerd
        h4 RejectJS 2015
      
      section(data-bespoke-backdrop='hello')
        h1 Hello There
        
      section
        h1 My Name is Myles
        img.headroom(src='images/me.jpg' alt='itsa me!' width='200px')
      
      section(data-bespoke-backdrop='funemployed')
        h1 I am Currently Funemployed

      section
        h2 But I'm starting something exciting very soon.
        img.headroom(src='images/happening.gif' alt='It is all happening!!!')
      
      section
        h2.bullet What qualifies me to talk about empathy?
        ul
          li.strikethrough I have an undergraduate degree in fine art
          +emptyLink()
          li.strikethrough I have a masters degree in music
          +emptyLink()
          li I am a human being
      
      section
        h1 What is empathy?
        
      section
        h3 Many of these ideas come from a fantastic talk by Jeremy Rifkin
        h3 THE EMPATHIC CIVILISATION
        :verbatim
          <iframe width="560" height="315" src="https://www.youtube.com/embed/l7AWnfFRc7g" frameborder="0" allowfullscreen></iframe>
      
      section(data-bespoke-backdrop='krang')
        h1 Healthy brains are wired for empathy
      
      section
        h3 One such phenomenon is a mirror neuron
        h4 the same neuron fires both when performing an action and when observing another doing the same action
        a.no-underline(href='https://www.thersa.org/discover/videos/rsa-animate/2010/05/rsa-animate---the-empathic-civilisation/')
          img(src='images/mirror.png' style='width:50%')
      
      section(data-bespoke-backdrop='giacomo')
        h3 This was first discovered by Italian scientists in the 1990's
        h4 Giacomo Rizzolatti, a neuroscientist at the University of Parma, noticed this strange phenomenon with a monkey and some peanuts.
      
      section(data-bespoke-backdrop='marco')
        h2 Marco Iacoboni,
        h4 Professor of Psychiatry and Biobehavioral Sciences, 
        h3 argued that mirror neurons are the neural basis 
        h2 of the human capacity for emotions such as empathy
      
      section(data-bespoke-backdrop='crybaby')
        h2 When a baby cries in a nursary
        h3 all the other babies join in
        h4 This is called Empathic Distress
        
      section
        h2 Around two and a half years of age a child actually can begin to recognize themselves in the mirror
        h3 This increase in selfhood goes hand in hand wth an incrase in empathic development
        
      seciton
        h2 Around eight years of age a child learns about birth and death
        h3 They learn about Vulnerability
        
      section
        h2 Once you realize you have only one life, you can now feel others struggle
        h3 You know that they have their own lives, you know their struggle
        
      section
        h2 While our ability to FEEL empathy may be soft-wired
        h2 Our ability to act on it is a learnt trait
      
      section
        h3.bullet Theresa Wisman's Defining attributes of empathy
        ul
          li understand perspective
          li stay out of judgement
          li recognize what they are feeling
          li communicate it back
      
      section
        h2 It turns out empathy was something I had to learn
      
      section
        h2.bullet Types of Empathy
        ul
          li For your customers
          li For you co-workers
          li For yourself
          
      section
        h5 References
        ul.no-bullets
          li Wiseman, Theresa. "A concept analysis of empathy." Journal of advanced nursing 23.6 (1996): 1162-1167.
          li Snow, Nancy E. "Empathy." American Philosophical Quarterly (2000): 65-78.
          li https://www.thersa.org/discover/videos/rsa-shorts/2013/12/Brene-Brown-on-Empathy/
          li https://www.thersa.org/discover/videos/rsa-animate/2010/05/rsa-animate---the-empathic-civilisation/
          li https://www.thersa.org/discover/videos/rsa-animate/2012/12/rsa-animate---the-power-of-outrospection/
          li http://www.ted.com/talks/brene_brown_on_vulnerability
          li http://www.teachthought.com/teaching/how-to-teach-empathy/
          li http://www.nytimes.com/2006/01/10/science/10mirr.html?pagewanted=all

      //- section
      //-   h2 Bullet List
      //-   h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
      //-   ul
      //-     li Bullet 1
      //-     li Bullet 2
      //-     li Bullet 3
      //-
      //- section
      //-   h2 Syntax Highlighting
      //-   h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
      //-   pre
      //-     code.language-javascript.
      //-       bespoke.from('article', [
      //-         classes(),
      //-         keys(),
      //-         touch(),
      //-         bullets('li, .bullet')
      //-       ]);

      //- section(data-bespoke-hash='named-route')
      //-   h2 Named Route
      //-   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
      //-   p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      //- section.emphatic-text(data-bespoke-backdrop='emphatic')
      //-   h2 Emphatic Slide!
      //-   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

    script(src='build/build.js')